/*css reset 开始*/
html,body{
  height: 100%;
  overflow: hidden;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{
  margin: 0px;
  padding: 0px;
  font: 14px "微软雅黑";
}
a{
  text-decoration: none;
  display: block;
}
li{
  list-style: none;
}
img{
  display: block;
  border: none
}
/*css reset 结束*/

/* common css */
.clearfix{*zoom:1}
.clearfix:after{
  content: '';
  display: block;
  clear: both
}
.commonTitle p{
  color:#009ee0;
  font-size:80px;
  line-height:0.8;
  font-weight:bold;
  letter-spacing:-5px;
}
.commonText{
  color: white;
  line-height: 1.5;
  font-size:15px;
}
/* common css结束 */

/* 开机动画开始 */
#mask{
  height: 100%;
  width:100%;
  position: absolute;
  z-index: 100;
}
#mask .up{
  width: 100%;
  height: 50%;
  background: deepskyblue;
  transition:1s height;
}
#mask .down{
  width: 100%;
  height: 50%;
  background: deepskyblue;
  transition:1s height;
  position: absolute;bottom: 0;
}
#mask .line{
  height: 4px;
  width: 0;
  background: white;
  position: absolute;
  left:0;
  top:50%;
  margin-top:-2px;
  z-index: 101;
  transition:1s width;
}
/* 开机动画结束 */

/* 头部样式开始 */
#header{
  width: 100%;
  height: 80px;
}
#header .headMain{
  width: 1100px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
#header .headMain .logo{
  float: left;
  margin-top: 30px;
}
#header .headMain .music{
  width: 14px;
  height: 14px;
  background: url(../images/musicon.gif);
  float: left;
  margin: 50px 0 0 5px;
}
#header .headMain .nav{
  float: right;
  margin-top: 50px;
}
.headMain .nav .list li{
  float: left;
  margin-left: 40px;
  position: relative
}
.headMain .nav .list li .up{
  position: absolute;
  width: 0;
  color: #000000;
  overflow: hidden;
  transition: width 1s;
}
.headMain .nav .list li:hover .up{
  width: 100%
}
.headMain .arrow{
  width: 21px;
  height: 11px;
  position: absolute;
  z-index: 2;
  bottom: -11px;
  transition: left 1s;
  background: url(../images/menuIndicator.png) no-repeat
}
/* 头部样式结束 */

/* 内容样式开始 */
#content{
  background: gray;
  position: relative;
  overflow: hidden;
  width: 100%;
}
#content .list{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition:1s top;
}
#content .list >li{
  position: relative;
  width: 100%;
}
#content .list >li > div{
  width: 1100px;
  height: 520px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#content .list > .home{
  background: url(../images/bg1.jpg) no-repeat;
}
#content .list > .course{
  background: url(../images/bg2.jpg) no-repeat;
}
#content .list > .works{
  background: url(../images/bg3.jpg) no-repeat;
}
#content .list > .about{
  background: url(../images/bg4.jpg) no-repeat;
}
#content .list > .team{
  background: url(../images/bg5.jpg) no-repeat;
}
/* 内容样式结束 */

/* 第一屏开始 */
.home .home1{
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.home .home1 >li{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.home .home1 > li:nth-child(1){
  background:#dc6c5f;
}
.home .home1 > li:nth-child(2){
  background:#95dc84;
}
.home .home1 > li:nth-child(3){
  background:#64b9d2;
}
.home .home1 > li:nth-child(4){
  background:#000000;
}
.home .home1 >li > div{
  color: white;
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
}
.home .home1 >li.active{
  visibility: visible;
}
.home .home2{
  position: absolute;
  left: 0;
  right: 0;
  bottom:0;
  text-align: center;
}
.home .home2>li{
  border-radius:50% ;
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,0.5);
  display: inline-block;
  box-shadow: 0 0 4px rgba(25,25,25,0.8);
  cursor:pointer;
}
.home .home2 > li.active{
  background: white;
  cursor:default;
}
/* 从左往右切换 */
.home .home1 >li.leftHide{
  visibility: hidden;
  animation: leftHide 1s linear;
}
.home .home1 >li.rightShow{
  visibility: visible;
  animation: rightShow 1s linear;
}
@keyframes leftHide{
  0%{
    visibility: visible;
  }
  50%{
    transform: translateX(-40%) rotateY(30deg) scale(0.8)
  }
  100%{
    transform: translateZ(-200px)
  }
}
@keyframes rightShow{
  0%{
    visibility: hidden;
    transform: translateZ(-200px)
  }
  50%{
    transform: translateX(40%) rotateY(-30deg) scale(.8);
  }
  100%{

  }
}

/* 从右往左切换 */
.home .home1 >li.leftShow{
  visibility: visible;
  animation: leftShow 1s linear;
}
.home .home1 >li.rightHide{
  visibility: hidden;
  animation: rightHide 1s linear;
}
@keyframes leftShow{
  0%{visibility: hidden;transform: translateZ(-200px);}
  50%{transform: translateX(-40%) rotateY(30deg) scale(.8);}
  100%{}
}
@keyframes rightHide{
  0%{visibility: visible;}
  50%{transform: translateX(40%) rotateY(-30deg) scale(.8);}
  100%{transform: translateZ(-200px);}
}
/* 第一屏结束 */

/* 第二屏开始 */
.course{
  overflow: hidden;
}
.course .course1{
  position: relative;
  z-index: 2;
  margin: 50px;
}
.course .course2{
  position: relative;
  z-index: 2;
  margin-left: 50px;
  width: 400px;
}
.course .course3{
  position: relative;
  z-index: 2;
  width: 480px;
  position: absolute;
  right:50px ;
  top: 70px;
}
.course .course3 .item{
  float: left;
  width: 120px;
  height: 132px;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
}
.course .course3 .line{
  position: absolute;
  top:-7px;
  width: 9px;
  height: 410px;
  background: url(../images/plus_row.png) no-repeat;
}
.course .course3 .line:nth-of-type(1){left: -5px;}
.list > .course .course3 .line:nth-of-type(2){left: 115px;}
.list > .course .course3 .line:nth-of-type(3){left: 235px;}
.list > .course .course3 .line:nth-of-type(4){left: 355px;}
.list > .course .course3 .line:nth-of-type(5){left: 475px;}
.course .course3 .item .backFace{
  background-position: 50% 50%!important;
}
.course .course3 .item .face,.course .course3 .item .backFace{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
	transition:1s transform;
}
.course .course3 .item .face{
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background: #009ee0;
  color: white;
}
 .course .course3 .item:hover .face{
   transform: rotateY(360deg);
}
 .list > .course .course3 .item:hover .backFace{
   transform: rotateY(180deg);
}
.course .course3 .item:nth-of-type(1) .backFace{
  background: url(../images/apcoa.png) no-repeat
}
.course .course3 .item:nth-of-type(2) .backFace{
  background: url(../images/bks.png) no-repeat
}
.course .course3 .item:nth-of-type(3) .backFace{
  background: url(../images/gu.png) no-repeat
}
.course .course3 .item:nth-of-type(4) .backFace{
  background: url(../images/hlx.png) no-repeat
}
.course .course3 .item:nth-of-type(5) .backFace{
  background: url(../images/lbs.png) no-repeat
}
.course .course3 .item:nth-of-type(6) .backFace{
  background: url(../images/leonberg.png) no-repeat
}
.course .course3 .item:nth-of-type(7) .backFace{
  background: url(../images/pcwelt.png) no-repeat
}
.course .course3 .item:nth-of-type(8) .backFace{
  background: url(../images/tata.png) no-repeat
}
.course .course3 .item:nth-of-type(9) .backFace{
  background: url(../images/bks.png) no-repeat
}
.course .course3 .item:nth-of-type(10) .backFace{
  background: url(../images/pcwelt.png) no-repeat
}
.course .course3 .item:nth-of-type(11) .backFace{
  background: url(../images/leonberg.png) no-repeat
}
.course .course3 .item:nth-of-type(12) .backFace{
  background: url(../images/hlx.png) no-repeat
}
/* 第二屏结束 */

/* 第三屏样式开始 */
.works .works1{
  position: relative;
  z-index: 2;
  margin: 50px 0 100px 50px;
}
.works .works2{
  position: relative;
  z-index: 2;
  margin-left: 50px;
}
.works .works2 .item{
  float: left;
  width: 220px;
  height: 133px;
  margin: 0 1px;
  position: relative;
  overflow: hidden;
}
.works  .works2 > .item:last-of-type{
  width: 332px
}
.works .works2> .item .mask{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  background: #000000;
  opacity: 0;
  color: white;
  transition: opacity 1s;
}
.works .works2> .item .mask .icon{
  width: 32px;
  height: 34px;
  margin: 0 auto;
  margin-top: 10px;
	background: url(../images/zoomico.png) no-repeat;
	transition:1s background-position;
}
.works .works2 .item img{
  transition: transform 1s;
}
 .works .works2 > .item .mask .icon:hover{
  background-position: 0 -35px;
}
.works .works2 > .item:hover .mask{
  opacity: 0.8;
}
.works .works2>.item:hover img{
  transform: rotate(30deg) scale(1.5)
}
.works .works3{
  width: 167px;
  height: 191px;
  background: url(../images/robot.png) no-repeat;
	position: absolute;left: 900px;top: 170px;
	animation: works3Move 4s linear infinite;
}
@keyframes works3Move{
  0%{
    transform: translateX(0) rotateY(0)
  }
  49%{
    transform: translateX(-490px) rotateY(0deg);
  }
  50%{
    transform: translateX(-500px) rotateY(180deg);
  }
  100%{
    transform: translateX(0px) rotateY(180deg);
  }
}
/* 第三屏样式结束 */

/* 第四屏样式开始 */
.about .about1{
  margin: 50px 0 100px 50px;
}
.about .about2{
  margin-left: 50px;
  width: 400px;
}
.about .about3>.item{
  width: 260px;
  height: 200px;
  border: 5px solid rgba(255,255,255,0.5);
  border-radius: 8px;
  position: absolute;
  z-index: 3;
  overflow: hidden;
}
.about .about3 > .item:nth-child(1){
  left: 750px;
  top: 50px;
}
.about .about3>.item:nth-child(2){
  left: 600px;
  top: 290px;
}
.about .about3 > .item >span,.about .about3 > .item >ul{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
}
.about .about3 > .item:nth-child(1) >span{
  background: url(../images/about2.jpg) no-repeat;
  transition: transform 1s;
}
.about .about3 > .item:nth-child(2) >span{
  background: url(../images/about4.jpg) no-repeat;
  transition: transform 1s;
}
.about .about3>.item:hover span{
  transform: scale(1.5)
}
.about .about4{
  width: 357px;
  height: 998px;
  position: absolute;
  left:50%;
  top:-100px;
  background: url(../images/greenLine.png) no-repeat;
}
/* 第四屏样式结束 */

/* 第五屏样式开始 */
.team .team1{
  width: 400px;
  margin: 50px;
  float: left;
}
.team .team2{
  float: right;
  width: 400px;
  margin: 50px;
}
.team .team3{width: 944px;
  height: 448px;
  position: absolute;
  left: 50%;
  margin-left: -472px;
  top: 250px;}
.team .team3 ul{
  position: relative;
  height: 100%;
}
.team .team3 ul>li{
  width: 118px;
  height: 100%;
  background: url(../images/team.png) no-repeat;
  float: left;
  transition:1s opacity;
}
.team .team3 ul>li:nth-child(1){
  background-position:0,0;
}
.team .team3 ul>li:nth-child(3){
  background-position:-236px,0;
}
.team .team3 ul>li:nth-child(4){
  background-position:-354px,0;
}
.team .team3 ul>li:nth-child(5){
  background-position:-472px,0;
}
.team .team3 ul>li:nth-child(6){
  background-position:-590px,0;
}
.team .team3 ul>li:nth-child(7){
  background-position:-708px,0;
}
.team .team3 ul>li:nth-child(8){
  background-position:-826px,0;
}
/* 第五屏样式结束 */

/* 小圆点 */
#content > .dot{
  position: fixed;
  right: 10px;
  top: 50%;
}
#content > .dot >li{
  width: 10px;
  height: 10px;
  border: 1px solid pink;
  margin-top: 10px;
  border-radius:50% ;
}
#content > .dot >li.active{
  background: white;
}
/* 小圆点 */
/* 出入场开始 */
.home .home1,.home .home2{
  transition:1s transform,1s opacity;
}
#content  .course .plane1{
  width:359px;
  height:283px;
  background:url(../images/plane1.png) no-repeat;
  position:absolute;
  left:300px;
  top:-100px;
  transition:1s;
}
#content  .course .plane2{
  width:309px;
  height:249px;
  background:url(../images/plane2.png) no-repeat;
  position:absolute;
  left:-100px;
  top:200px;
  transition:1s;
}
#content  .course .plane3{
  width:230px;
  height:182px;
  background:url(../images/plane3.png) no-repeat;
  position:absolute;
  left:300px;
  top:400px;
  transition:1s;
}
#content  .works .pencel1{
  width:180px;
  height:97px;
  background:url(../images/pencel1.png) no-repeat;
  position:absolute;
  transition:1s;
  left:500px;
  top:0;
}
#content  .works .pencel2{
  width:268px;
  height:38px;
  background:url(../images/pencel2.png) no-repeat;
  position:absolute;
  transition:1s;
  left:300px;
  top:250px;
}
#content  .works .pencel3{
  width:441px;
  height:231px;
  background:url(../images/pencel3.png) no-repeat;
  position:absolute;
  transition:1s;
  left:650px;
  top:300px;
}

.about .about3 > .item,
.team .team1,
.team .team2
{
  transition:1s transform;
}
/* 出入场结束 */
